/*───────────────────────────────────-*/
.flat-button {
    display: inline-block;

    position: relative;
    z-index: 1;

    min-width: max-content;
    max-width: 20em;
    height: 31px;

    padding: 1em 1.25em;
    margin: 0;

    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 41px;

    border-radius: 1px 1px 1px 1px;
    border: 0;

    background: transparent;
    cursor: pointer;
    outline: none;
}

.flat-button::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    border-radius: 0.025em;

    box-shadow: 0 0 0 1px var(--color-invert_page-background);
    background-color: var(--color_page-background);

    transition: transform 150ms ease-out;
}

.flat-button::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    border-radius: 0.025em;

    box-shadow: 0 0 0 1px var(--color-invert_page-background);
    background-color: var(--color_page-background);

    transition: transform 150ms ease-out;
}

.flat-button > span {
    display: inline-block;

    position: relative;

    height: 100%;

    border-radius: 1px 1px 1px 1px;

    font-size: 12px;
    font-family: 'GTAmericaMono-Medium';
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 33px;
    letter-spacing: 0;

    color: var(--color-invert_page-background);
    background: var(--color_page-background);

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .flat-button:hover > span,
    .flat-button:hover::before {
        transform: translate(0em, 0em);
        transition: transform 100ms ease-out;
    }

    .flat-button:hover::after {
        transform: translate(-0.25em, 0.25em);
        transition: transform 100ms ease-out;
    }

    .flat-button:active > span,
    .flat-button:active::before,
    .flat-button:active::after {
        transform: translate(-0.25em, 0.25em);
        transition: transform 50ms ease-in-out;
    }
}
/*───────────────────────────────────-*/

/*───────────────────────────────────-*/
#body::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;

    background: url('./../../../images/icons/icon.svg');
    background-size: 512px 512px;
    background-repeat: no-repeat;
    background-position: center center;

    filter: brightness(0.01) opacity(9%);
}

#main {
    display: grid;
    position: relative;

    align-self: center;
    justify-self: center;

    font-size: 1em;
    text-align: center;
}
/*───────────────────────────────────-*/

/*───────────────────────────────────-*/
.index_page-header {
    position: relative;
}

.header-name {
    display: block;
    position: relative;

    margin: 0 0 0.4em 0;

    text-transform: uppercase;
    font-family: var(--font_main-title);
    font-size: 1.75rem;
    letter-spacing: 0.36em;
}

.header-url {
    font-size: 1rem;
    letter-spacing: 0.3em;
}
/*───────────────────────────────────-*/

/*───────────────────────────────────-*/
.content-wrapper {
    position: relative;

    margin: 2em 0 0 0;
}
/*───────────────────────────────────-*/

/*───────────────────────────────────-*/
.excerpt {
    margin: 2em 0;

    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.2em;
}

.socials-links {
    display: flex;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;
}

.socials-links a {
    margin: 0 1em 0.5em 0;
    padding: 0 0 3px 0;

    font-family: var(--font_navigation-links);
    font-size: 0.875rem;
    letter-spacing: 0.2em;

    color: var(--color-invert_page);
    border-bottom: 1px solid var(--color-invert_page);

    transition: all 0.25s var(--transitions_main);
    transition-property: color, border-bottom;
}
/*───────────────────────────────────-*/

/*───────────────────────────────────-*/
#html,
#body {
    opacity: 1;
}
/*───────────────────────────────────-*/
